main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.Member {
  background: blanchedalmond;
  text-align: center;
  padding: 15px;
}

.MembersList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  flex-direction: row;
}

nav {
  background: gray;
  width: 200px;
  height: 500px;
  margin-right: 15px;
}

.App {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
