:root {
  font-family: Courier;
  color: whitesmoke;
  background: black;
}

main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.Member {
  background: gray;
  text-align: center;
  padding: 15px;
  margin: 10px;
}

.MembersList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;
}

nav {
  background: gray;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 20px;
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style-type: none;
}

button {
  font-size: 0.8em;
}

a {
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

a:hover {
  color: lightgray;
}
